blockquote {
  border-color: red;
}
 
@media only screen and (min-width: 768px) {
  .listing .listing-seperator .listing-item{
    margin-left: 0px;
  }
  .listing .listing-seperator  {
    font-size: 18px;
    line-height: 1.3;
  }
   .listing-item {font-size: 14px;}
 
}

  
  
  
  
  
  
  

